<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Why does this Demo exists?</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a target"blank" href="mailto:patrick.e.muller@gmail.com" class="btn btn-success col-xs-12 btn-lg">Interested?? Get in touch with me!</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Who is Patrick Muller?</h2>
      <p>
        I'm a web developer since 2012, already founded 2 software houses and worked with more than 30 different Startups all over Brazil.
        My strongest skill is with Back-End development, more specifically with Ruby on Rails.
        <ul>
          <li><a target"blank" href="https://github.com/patrickemuller">My Github</a></li>
          <li><a target"blank" href="https://ca.linkedin.com/in/patrickemuller">My Linkedin Profile</a></li>
          <li><a target"blank" href="http://listabeta.com.br">My proudest Project (LISTABETA)</a></li>
        </ul>
      </p>

      <h2>Why did you create this Demo?</h2>
      <p>
        This is part of a personal project to build various Demo projects in Rails to show my skills for possible Jobs.
        This is something that everyone should do, a portfolio of various projects showing (almost) all your skills,
        so everytime someone ask about "what you have to show" and you send them this projects.
      </p>

      <h2>What did you do in this specific Demo?</h2>
      <ul>
        <li>ActiveAdmin for administrative panels</li>
        <li>Twitter Bootstrap as default CSS Framework</li>
        <li>Pagination for Searches and index page</li>
        <li>Using FFaker to generate random data for Seeds</li>
        <li>Using Capybara to test the search feature</li>
        <li>Using PgSearch to implement full-text search of animals</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a target"blank" href="mailto:patrick.e.muller@gmail.com" class="btn btn-success col-xs-12 btn-lg">Interested?? Get in touch with me!</a>
    </div>
  </div>

  <br>
  <br>
</div>
