<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>An Example of PetShop store with animal search</h1>
      <ul class="list-unstyled">
        <li><b>By Patrick</b></li>
      </ul>
    </div>
  </div>
</div>
